# Source files
src/

# Test files
**/*.spec.ts
**/*.test.ts
jest.config.ts
tsconfig.spec.json

# Build configuration
tsconfig.json
project.json

# Build artifacts
**/*.tsbuildinfo

# Development files
.nx/
.cache/
coverage/

# Git
.git/
.gitignore
